<h1>New Book Form</h1>
<form action="/books" method="POST">
  Title: <input type="text" name="title"><br>
  Author: <input type="text" name="author"><br>
  Snippet: <input type="text" name="snippet"><br>
  <input type="submit" value="Submit">
</form>